<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.robert.morseprototype">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
        android:name=".Misc.MorseApplication"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity
            android:name=".Misc.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Training.Training" />
        <activity android:name=".Tools.Tools" />
        <activity android:name=".Misc.BaseActivity" />
        <activity android:name=".Options.Options" />
        <activity android:name=".Tools.EnglishToMorse" />
        <activity android:name=".Tools.MorsePad" />
        <activity android:name=".Sos.Sos" />
        <activity android:name=".Training.TrainingTrail" />
        <activity android:name=".Training.Introduction" />
        <activity android:name=".Training.Test" />
        <activity android:name=".Tools.MorseToEnglish" />
        <activity android:name=".Training.Results" />
        <activity android:name=".Tools.ScreenFlash" />
        <activity android:name=".Training.FinishedTrailSection" />
        <activity android:name=".Tools.TrainingType" />
        <activity android:name=".Training.Receive" />
        <activity android:name=".SwipeDialogs.LettersDialog" />
        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />

        <receiver android:name=".Misc.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Tools.CallerAlerts" />
    </application>

</manifest>